{
  "FACEBOOK_PAGE_ID": "pageId",
  "WIT_TOKEN": "token",
  "FACEBOOK_TOKEN": "fbToke",
  "FACEBOOK_VERIFY_TOKEN": "pass",
  "PORT": "3010",
  "NODE_ENV": "development",
  "GOOGLE_KEY": "development",
  "BING_KEY": "development",
  "NEWRELIC_KEY": "newrelic",
  "IZI_API_KEY": "izi-key"
}
